.submit-form {
  width: 60%;
  margin: 60px auto;
  padding: 5px 30px 60px 30px;

  border-radius: 5px;
  border: 1px solid $main-red;
  background-color: #F7F7F7;
  box-shadow: 7px 7px 8px 0px grey;
}

.submit-form__title {
  text-align: center;

  & span {
    color: $main-red;
  }
}

.form__btn-save,
.form__btn-add {
  display: block;
  float: right;
  padding: 7px;
  margin-bottom: 5px;

  border-radius: 3px;
  font-weight: 500;
  font-size: 1.2em;
  color: white;

  background-color: $main-red-light;
  border: 1px solid $main-red-light;

  &:hover {
    transform: translate(-1px, -1px);
    background: $main-red;
    border-color: $main-red;
    box-shadow: 2px 2px 8px 0px rgba(225, 65, 20, 0.2);

    cursor: pointer;
  }

  &:active {
    transform: translate(0, 0);
    background: $main-red-dark;
    border-color: $main-red-dark;
  }
}
