.affairs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 60%;
  margin: 60px auto;
  padding: 5px 30px 60px 30px;

  border-radius: 5px;
  border: 1px solid $main-red;
  background-color: #F7F7F7;
  box-shadow: 7px 7px 8px 0px grey;
}

.affairs__title {
  flex: 1 100%;
  text-align: right;

  & span {
    color: $main-red;
  }
}

.affairs__list-wrap {
  width: 45%;
}

.affairs__list {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
  list-style-type: none;
}

.affairs__item {
  display: inline-block;

  width: 100%;
  margin: 10px 1px;
  padding: 0 10px;

  line-height: 2em;
  font-weight: bold;
  background: none;
  border: 1px solid #EA5455;
  color: #EA5455;
}
