.about {
  width: 60%;
  margin: 60px auto;
  padding: 5px 30px 30px 20px;

  border-radius: 5px;
  border: 1px solid $main-red;
  background-color: #F7F7F7;
  box-shadow: 7px 7px 8px 0px grey;

  & P {
    font-family: NeuchaRegular;
    font-weight: 500;
    font-size: 1.2em;
  }

  & strong {
    color: $main-red;
  }
}

.about__title {
  flex: 1 100%;
  text-align: center;

  & span {
    color: $main-red;
  }
}
