.about {
  display: flex;
  justify-content: space-between;

  width: 60%;
  margin: 60px auto;
  padding: 5px 30px 30px 20px;
}

.about__left {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 36%;
  padding-top: 3em;
}

.about__right {
  width: 60%;

  & P {
    font-family: NeuchaRegular;
    font-weight: 500;
    font-size: 1.1em;
  }

  & strong {
    color: $main-red;
  }
}

.about__title {
  text-align: center;
}

.about__firebase-picture {
  width: 100%;
}

.about__skills-list {
  display: flex;
  justify-content: space-around;

  margin-bottom: 2em;

  color: $main-red;
}

.about__skills-item {
  font-size: 2em;
}
