.navbar {
  width: 100vw;
  display: flex;

  font-weight: bold;

  background-color: $navbar-bg;
}

.navbar__legend {
  margin-left: 1.5em;
  flex-grow: 1;

  & span {
    margin-right: 0.5em;
    color: $main-red;
  }
}

.navbar__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar__icon {
  color: white;
  animation: navbar__icon-blink 4s cubic-bezier(0.755, 0.050, 0.855, 0.060) infinite both;
}

.navbar__toggle {
  display: none;
}

.navbar__link {
  color: white;
  padding-right: 5em;
  position: relative;
  transition: all ease-in-out 550ms;

  &::after {
    content: "";
    position: absolute;
    display: block;
    height: 0.3em;
    width: 0%;
    background-color: $main-red;
    bottom: -1em;
    transition: all ease-in-out 250ms;
  }

  &:hover::after {
    width:60%;
  }

  &:hover{
    color: $main-red;
  }
}

.navbar__link--selected {
  color: $main-red;
}

@media screen and (max-width: 960px) {

  .navbar__list {
    flex-direction: column;

    position: absolute;
    top: 50px;
    left: -110%;
    width: 100%;

    opacity: 1;
    z-index: 1;

    transition: all 0.5s ease;

    &.active {
      left: 0px;
      background-color: $navbar-bg;
      padding-bottom: 150px;
    }
  }

  .navbar__item {
    width: 100%;
    text-align: center;
  }

  .navbar__link {
    display: block;
    width: 100%;
    padding: 4em 0 2em 0;

    &:hover::after {
      width:100%;
    }
  }

  .navbar__toggle {
    display: block;
    margin-right: 1.5em;
    padding: 10px;
    display: flex;
    align-items: center;

    font-size: 1.2em;

    color: white;
  }
}
