/* Raleway */
@font-face {
  font-family: "RalewayRegular";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src:
    url("../fonts/RalewayRegular.woff") format("woff"),
    url("../fonts/RalewayRegular.ttf") format("truetype");
}

/* Marck Script */
@font-face {
  font-family: "MarckScript";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src:
    url("../fonts/MarckScript-Regular.ttf") format("truetype");
}

/* Neucha-Regular */
@font-face {
  font-family: "NeuchaRegular";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src:
    url("../fonts/Neucha-Regular.ttf") format("truetype");
}
